# # Ignore compiled files by ignoring all and then unignoring files with extensions and directories
*
!*.*
!*/

# Un-ignore Makefile
!Makefile

# Ignore debugging files
*.dSYM/*

# Ignore the react app
www/calculator/*

# Ignore node modules for tests
node_modules